extends layout

block content

	h1= title

	h1 Enter an ingredient.

	form(method='post', action='/ingredient/create', id="newform")
		| New Ingredient: 
		input(name='ingredient', id="newinput")
		|  Cost: 
		input(name='cost', id="newinput")
		button(type='submit')
			| Done